@charset "utf-8";

@media screen and (max-width: 767px ){
 
    header{
        display: flex;
        align-items: center;
    }

    menu {
        position: relative;
        background-color: white;
        padding: 0;
        width: 100vw;
        margin-top: 237px;

    }

    menu > ul {
        display: none; 
    }

    menu > ul.active {
        display: block; 
    }

    menu > ul > li {
        display: block;
    }

    menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    menu > ul > li > a:hover{
        background-color: #C5C5C5;
        font-size: 1em;
    }
    
    #burguer {
        display: block;
        position: absolute;
        font-size: 2.5em;
        margin: 20px;
        color:  white;
        cursor: pointer;

        
    }

    #foto{
        text-align: center;
        position: static;
    }

    #avatar{
        width: 250px;
    }
    

    #formacao{
        font-size: 1.8em;
        text-align: center;
        margin: auto;
        padding: 0;
    }

    h3{
        text-align: center;
        margin: auto;
        padding: 0;
    }

    
    #sobre{
        padding: 30px 0px 0px 0px;
        width: 300px;
        text-align: center;
        margin: auto;
    }

    #botoes{
        margin: auto;
        text-align: center;
        padding: 0px 0px 70px 0px;
    }


    .botton-con{
        display: block;
        margin: auto;
        width: 190px;
    }

    .botton-cv{
        display: block;
        margin: auto;
        width: 190px;
        margin-top: 10px;
    }

    
    .img-lin{
        width: 80px;
        margin-right: 30px;
    }

    #conteiner{
         flex-direction: column;
    }

    .caixa-projeto1{
        width: 300px;
        height: 145px;
        border-radius: 13px 13px 0px 0px;

    }

    .caixa-projeto2{
        width: 300px;
        height: 145px;
        margin-top: 20px;
        border-radius: 13px 13px 0px 0px;


    }

    #site, #calculadora{
        width: 300px;
        height: 50px;
        border-radius: 0px 0px 13px 13px;
    }

    #site p, #calculadora p{
        font-size: 1em;
        padding: 16px;
    }
    
    .view{
        padding-top: 16px;
        margin-left: 200px;
    }

    .view2{
        padding-top: 16px;
        margin-left: 115px;
    }

    #resu{
        max-width: 300px;
    }

    #contato {
        height: auto;
    }

}