@charset "utf-8";

@media screen and (max-width: 767px ){



    
    menu {
        position: fixed;
        background-color: white;
        padding: 0;
        width: 100vw;

    }

    menu > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none; 
    }

    menu > ul.active {
        display: block; 
    }

    menu > ul > li {
        display: block;
    }

    menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: var(--cor2);
    }

    menu > ul > li > a:hover{
        background-color: #C5C5C5;
    }
    
    #burguer {
        display: block;
        color:  white;
        padding: 25px;
        text-align: right;
        cursor: pointer;
    }

    #formacao{
        font-size: 1.8em;
    }

    
    #sobre{
        width: 340px;
    }


    .botton-con{
        display: block;
        margin: auto;
        width: 190px;
    }

    .botton-cv{
        display: block;
        margin: auto;
        width: 190px;
        margin-top: 10px;
    }
    
    .img-lin{
        margin-right: 40px;
    }

    #conteiner{
         flex-direction: column;
    }

    .caixa-projeto1{
        width: 300px;
        height: 145px;
        border-radius: 13px 13px 0px 0px;

    }

    .caixa-projeto2{
        width: 300px;
        height: 145px;
        margin-top: 20px;
        border-radius: 13px 13px 0px 0px;


    }

    #site, #calculadora{
        width: 300px;
        height: 50px;
        border-radius: 0px 0px 13px 13px;
    }

    #site p, #calculadora p{
        font-size: 1em;
        padding: 16px;
    }
    
    .view{
        padding-top: 16px;
        margin-left: 200px;
    }

    .view2{
        padding-top: 16px;
        margin-left: 115px;
    }

    #resu{
        width: 340px;
    }

    #contato {
        height: 418px;
    }

}